@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-dark-blue-90 font-plex-sans;
}

.headline-1 {
  @apply text-2xl font-medium font-plex-serif md:text-4xl lg:text-5xl;
}

.headline-2 {
  @apply text-xl font-medium font-plex-sans md:text-2xl;
}

.paragraph {
  @apply text-sm font-normal font-plex-sans md:text-base;
}

.tag {
  @apply text-[10px] leading-6 px-4 rounded-3xl bg-light-gray uppercase font-medium;
}

.section {
  @apply px-5 md:px-12 lg:px-28;
}

.header {
  @apply px-5 md:px-12 lg:px-14;
}

.section-white {
  @apply px-5 md:px-12 lg:px-28 bg-white;
}

.section-cyan {
  @apply section bg-light-cyan;
}

.btn-base {
  @apply py-4 px-8 font-bold text-xs rounded-[45px] uppercase block md:text-base;
}

.btn-primary {
  @apply btn-base bg-success text-white hover:bg-transparent hover:text-success hover:border-success border-2 transition-colors;
}

.btn-secondary {
  @apply btn-base bg-transparent text-dark border-success border-2 hover:text-white hover:bg-success transition-colors;
}

.btn-small {
  @apply py-2 font-medium text-sm;
}

.bg-nav {
  @apply bg-black/80;
}

.footer {
  display: grid;
  grid: 'a' 'b' / 'c' 'd';
}

.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded='true'] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.plus path {
  transition: all 800ms;
  transform: rotate(0);
  transform-origin: 50% 50%;
}

.plus.minus .plus_svg__vertical-line {
  transform: rotate(450deg);
}
